//base color
$white : #FFFFFF;
$red : #FF3B2F;
$blue : #1F6BFF;
$yellow : #EBB105;
$dark-blue : #2753A3;
$background : #F9F9F9;
$success : #19BD36;
$line-stroke : #E4E8F1;
$subtle-grey : #8B99B4;
$subtle-black : #404E69;
$subtle-green : #D1F2D7;
$subtle-red :#FFEAEE;
